[Desktop Entry]
Comment=
Exec=/workspaces/ID-BIO-Project/CVAFPI\ IDENTIFICATION\ SYSTEM.sh
GenericName=
Icon=/workspaces/ID-BIO-Project/static/CVAFPI-LOGO.png
MimeType=
Name=ID Bio System
Path=/workspaces/ID-BIO-Project
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
