[Desktop Entry]
Comment=
Exec=/bin/bash -c "cd \"$(dirname \"$1\")\" && exec \"./CVAFPI IDENTIFICATION SYSTEM.sh\"" -- %k
GenericName=
MimeType=
Name=ID Bio System
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
